.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 30px;
  margin: 0 auto;
  padding: 5px 0px;
  border-radius: 5px;
}

.menuElementOne {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100%;
  vertical-align: middle;

  color: white;
  border-radius: 5px;
  background-color: #24283b;
}

.menuElementTwo {
  display: flex;
  width: 30px;
  height: 30px;

  border-radius: 5px;
  background-color: #24283b;
}
