.logo {
  width: 100%;
  height: 815px;
}

.shell {
  position: absolute;
  width: 700px;
  height: 810px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.contentCenter {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 760px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.3);
}

.nameTextContent {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 700px;
  height: 20px;
  color: antiquewhite;
}

.nameTextContentPhone {
  display: none;
}

.contentLeft {
  width: 345px;
  height: 750px;
  margin: 5px 2.5px 5px 5px;
  border-radius: 5px;
}

.leftOne {
  width: 333px;
  height: 400px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.leftTwo {
  width: 333px;
  height: 150px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.leftFree {
  width: 333px;
  height: 180px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.contentRight {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  /* grid-template-columns: 171px 171px; */
  width: 350px;
  height: 750px;
  margin: 5px 5px 5px 2.5px;
}

/* HTML START */
.rightOne {
  display: grid;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightHTML {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: conic-gradient(red 310deg, #2f3347 0deg);
  border-radius: 50%;
}

.rightHTML::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #24283b;
}

.rightHTMLvalue {
  position: relative;
  color: red;
  font-size: 30px;
  font-weight: 600;
}

.rightHTMLtext {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* HTML END */

/* CSS START */
.rightTwo {
  display: grid;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightCSS {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: conic-gradient(rgb(0, 106, 255) 290deg, #2f3347 0deg);
  border-radius: 50%;
}

.rightCSS::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #24283b;
}

.rightCSSvalue {
  position: relative;
  color: rgb(0, 106, 255);
  font-size: 30px;
  font-weight: 600;
}

.rightCSStext {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* CSS END */

/* JS START */
.rightFree {
  display: grid;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightJS {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: conic-gradient(rgb(255, 196, 0) 140deg, #2f3347 0deg);
  border-radius: 50%;
}

.rightJS::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #24283b;
}

.rightJSvalue {
  position: relative;
  color: rgb(255, 196, 0);
  font-size: 30px;
  font-weight: 600;
}

.rightJStext {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* JS END */

/* REACT START */
.rightFour {
  display: grid;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightREACT {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: conic-gradient(rgb(0, 200, 255) 200deg, #2f3347 0deg);
  border-radius: 50%;
}

.rightREACT::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #24283b;
}

.rightREACTvalue {
  position: relative;
  color: rgb(0, 200, 255);
  font-size: 30px;
  font-weight: 600;
}

.rightREACTtext {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* REACT END */

/* GIT START */
.rightFive {
  display: grid;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}
.rightGIT {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: conic-gradient(rgb(132, 0, 255) 255deg, #2f3347 0deg);
  border-radius: 50%;
}

.rightGIT::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #24283b;
}

.rightGITvalue {
  position: relative;
  color: rgb(132, 0, 255);
  font-size: 30px;
  font-weight: 600;
}

.rightGITtext {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* GIT END */

/* DOCKER START */
.rightSix {
  display: grid;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightDOCKER {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px;
  background: conic-gradient(rgb(0, 255, 255) 60deg, #2f3347 0deg);
  border-radius: 50%;
}

.rightDOCKER::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #24283b;
}

.rightDOCKERvalue {
  position: relative;
  color: rgb(0, 255, 255);
  font-size: 30px;
  font-weight: 600;
}

.rightDOCKERtext {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

/* DOCKER END */

.rightSeven {
  width: 330px;
  height: 110px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.rightEight {
  width: 330px;
  height: 100px;
  margin: 5px;
  background-color: #24283b;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.menuContent {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  width: 50px;
  height: 750px;
  right: 0%;
  background-color: #272d47;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 100%;
    height: 815px;
  }

  .shell {
    position: absolute;
    width: 700px;
    height: 610px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  .contentCenter {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 550px;
    background-color: #24283b;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
  }

  .contentCenterPhone {
    display: none;
  }

  .nameTextContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 20px;
    color: antiquewhite;
  }

  .contentLeft {
    width: 345px;
    height: 550px;
    margin: 5px 2.5px 5px 5px;
    border-radius: 5px;
  }

  .leftTwo {
    width: 333px;
    height: 125px;
    margin: 5px;
    background-color: #24283b;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .leftFree {
    display: none;
  }

  .rightSeven {
    display: none;
  }

  .rightEight {
    display: none;
  }

  .contentRight {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 540px;
    margin: 5px 5px 5px 2.5px;
  }

  .rightBlock {
    width: 325px;
    height: 3px;
    border-radius: 5px;
    background-color: #24283b;
  }
}

@media screen and (max-width: 390px) {
  .logo {
    width: 100%;
    height: 790px;
  }

  .shell {
    position: absolute;
    width: 380px;
    height: 660px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  .contentCenter {
    display: none;
  }

  .contentCenterPhone {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 600px;
    background-color: #24283b;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
    overflow: auto;
    scroll-behavior: smooth;
  }

  .nameTextContent {
    display: none;
  }

  .nameTextContentPhone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 20px;
    color: antiquewhite;
  }

  .contentOnePhone {
    width: 370px;
    height: 400px;
    margin: 5px;
    background-color: #24283b;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .contentTwoPhone {
    width: 370px;
    height: 150px;
    margin: 5px;
    background-color: #24283b;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  .contentFreePhone {
    width: 370px;
    height: 150px;
    margin: 5px;
    background-color: #24283b;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }
}
