.menuTopLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  height: 60px;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  max-width: 40px;
  min-height: 40px;
  margin: 10px;
  background-color: #24283b;
  border-radius: 5px;
}

.shadowMenu {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.date {
  flex: 2;
  width: 110px;
  height: 40px;
  margin: 10px;
  background-color: #24283b;
  border-radius: 5px;
}

.icon {
  width: 25px;
  height: 25px;
  color: antiquewhite;
}

.activeIcon {
  color: #e0af68;
}
