$ColorSite: #24283b;
$ColorText: antiquewhite;
$ColorTextName: antiquewhite;
$ColorIcon: antiquewhite;

$ColorClock: antiquewhite;
$ColorCalendar: antiquewhite;

$ColorIconClick: #e0af68;

$ColorHTML: rgb(255, 0, 0);
$ColorCSS: rgb(0, 106, 255);
$ColorJS: rgb(255, 196, 0);
$ColorREACT: rgb(0, 200, 255);
$ColorGIT: rgb(132, 0, 255);
$ColorDOCKER: rgb(0, 255, 255);

$ShadowElement: 0px 5px 5px rgba(0, 0, 0, 0.2);
$BoxShadow: 10px 5px 5px rgba(0, 0, 0, 0.2);

$ShadowElementMenuTopLeft: 10px 5px 5px rgba(0, 0, 0, 0.2);
$ShadowElementMenuFooterLeft: 10px -5px 5px rgba(0, 0, 0, 0.2);
$ShadowElementMenuFooterRight: -10px -5px 5px rgba(0, 0, 0, 0.2);
$ShadowElementMenuTopRight: -10px 5px 5px rgba(0, 0, 0, 0.2);

$BackgroundOpacity: rgba(0, 0, 0, 0.3);

$BorderRadius: 5px;
