.menuCenter {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  width: 1020px;
  height: 40px;
  margin: 10px;
  background-color: #24283b;
  border-radius: 5px;
}

.shadowMenu {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.navStyles {
  width: 1020px;
  height: 40px;
}
.navContent {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40px;
}

.navCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-family: arial, sans-serif;
  transition: color 0.2s;
}

.icon {
  width: 25px;
  height: 25px;
}

.icon {
  color: antiquewhite;
}

.activeIcon {
  color: #e0af68;
}

@media screen and (max-width: 1024px) {
  .menuCenter {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    width: 500px;
    height: 40px;
    margin: 10px;
    background-color: #24283b;
    border-radius: 5px;
  }
}

@media screen and (max-width: 390px) {
  .menuCenter {
    display: none;
    /* display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    width: 500px;
    height: 40px;
    margin: 10px;
    background-color: #24283b;
    border-radius: 5px; */
  }
}
