@import '../../../style/variable.scss';

.logo {
  width: 100%;
  height: 815px;
}

.shell {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 1510px;
  height: 830px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: $BorderRadius;
}

.contentCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1510px;
  height: 750px;
  background-color: $ColorSite;
  border-radius: $BorderRadius;
  box-shadow: $ShadowElement;
  background: $BackgroundOpacity;
}
.nameTextContent {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
  right: 30px;
  width: 1510px;
  height: 30px;
  color: antiquewhite;
}

.webSiteOne {
  background-color: #40455e;
  margin: 10px;
  border-radius: $BorderRadius;
  width: 1490px;
  height: 730px;
  box-shadow: $BoxShadow;
}

.webSiteTwo {
  background-color: #40455e;
  margin: 10px;
  border-radius: $BorderRadius;
  width: 1490px;
  height: 730px;
  box-shadow: $BoxShadow;
}

.webSiteFree {
  background-color: #40455e;
  margin: 10px;
  border-radius: $BorderRadius;
  width: 1490px;
  height: 730px;
  box-shadow: $BoxShadow;
}

@media screen and (max-width: 1024px) {
  .logo {
    width: 100%;
    height: 650px;
  }

  .shell {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 800px;
    height: 640px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: $BorderRadius;
  }

  .contentCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 550px;
    background-color: $ColorSite;
    border-radius: $BorderRadius;
    box-shadow: $ShadowElement;
  }

  .nameTextContent {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    right: 30px;
    width: 800px;
    height: 30px;
    color: antiquewhite;
  }

  .menuContent {
    display: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    width: 50px;
    height: 550px;
    right: 0%;
    background-color: #272d47;
  }

  .menuCircleOne {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    background-color: #c0c9eb;
  }

  .menuCircleTwo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    background-color: #c0c9eb;
  }

  .menuCircleFree {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    background-color: #c0c9eb;
  }

  .topBorder {
    position: absolute;
    width: 1510px;
    height: 5px;
    background-color: #272d47;
  }

  .leftBorder {
    position: absolute;
    width: 5px;
    height: 750px;
    background-color: #272d47;
  }

  .bottomBorder {
    position: absolute;
    width: 800px;
    height: 5px;
    bottom: 0%;
    background-color: #272d47;
  }

  .one {
    width: 1410px;
    height: 700px;
    margin: 10px;
    background-color: aqua;
  }

  .two {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: red;
  }

  .webSiteOne {
    background-color: #40455e;
    margin: 10px;
    border-radius: $BorderRadius;
    width: 735px;
    height: 530px;
    box-shadow: $BoxShadow;
  }

  .webSiteTwo {
    background-color: #40455e;
    margin: 10px;
    border-radius: $BorderRadius;
    width: 735px;
    height: 530px;
    box-shadow: $BoxShadow;
  }

  .webSiteFree {
    background-color: #40455e;
    margin: 10px;
    border-radius: $BorderRadius;
    width: 735px;
    height: 530px;
    box-shadow: $BoxShadow;
  }
}
